/* style for checkout div in Checkout.js */
.checkout-container {
    padding: 50px 5px;
    height: 100%;
    background-image: url('../../../images/check-out-background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}



/* style for form in FormHook.js file */
.form-container {
    width: 90%;
    margin: 20px auto;
    border: 1px solid rgba(255, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 20px 15px 25px rgba(255, 0, 0, 0.3);
}

.form-component {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

.form-container input:not([type="submit"]) {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: rgba(176, 224, 230, 0.5);
    border: 2px solid rgba(255, 0, 0, 0.3);
}

.form-container input:not([type="submit"]):hover {
    border: 2px solid rgba(47, 47, 245, 0.705);
    background-color: aliceblue;

}

.options {
    background-color: rgba(176, 224, 230, 0.5);
    border: 2px solid rgba(255, 0, 0, 0.3);
}

/* Style for ServiceDetails.js file */
.service-details-card {
    background-color: rgba(176, 224, 230, 0.1);
    border-radius: 5px;
    /* background-image: url('../../../images/check-out-background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; */
}