/* Design for Services.js */
.service-container {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

/* design for Servicecard.js */
.card-container img {
    height: 300px;
}

/* Design for ChooseTour.js file */
.choose-tour-container {
    height: 500px;
    margin-top: 1px;
    background-image: url('../../../images/choose-tour-backgroung.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}